.root {
    -fx-background-color: #4d4d4d; 
}

.vbox {
    -fx-background-color: #4d4d4d;
    -fx-padding: 10 25 10 25;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.titScore {
    -fx-font-size: 20px;
    -fx-text-fill: #eee4da;
}
.score {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}
.points {
    -fx-font-size: 30px;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}
.backGrid {
    -fx-background-color: #4d4d4d;
    -fx-border-color: #4d4d4d; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.grid {
    -fx-background-color: #6a6a6a; 
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
.grid-cell {
    -fx-fill: #cdc1b4;
    -fx-stroke-width: 14px;
    -fx-stroke-type: centered;
    -fx-stroke: #4d4d4d;
}

.label {
    -fx-font-smoothing-type: lcd;
    -fx-smooth: true;
    
    -fx-font-family: "Roboto Light";

}

.title {
    -fx-font-size: 90px;
    -fx-text-fill: #6a6a6a;
}
.subtitle {
    -fx-font-size: 40px;
    -fx-text-fill: #0099CC; // f9f6f2
    -fx-effect: dropshadow( three-pass-box, rgba(0, 153, 204, 1), 10, 0.5, 0, 0 );
}
.over {
    -fx-opacity: 0.6;
    -fx-background-color: #f9f6f2;
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.lblOver {
    -fx-font-size: 60px;
    -fx-text-fill: #776e65;
}
.won {
    -fx-font-size: 60px;
    -fx-text-fill: #f9f6f2;
    -fx-background-color: rgba(237, 194, 46, 0.5);
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.lblWon {
    -fx-font-size: 60px;
    -fx-text-fill: #f9f6f2;
}
.over {
    -fx-font-size: 60px;
    -fx-text-fill: #776e65;
    -fx-opacity: 0.6;
    -fx-background-color: #f9f6f2;
    -fx-border-color: #f9f6f2; 
    -fx-border-width: 2; 
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}
.bAutoGame {
    -fx-background-color: #0099cb; 
    -fx-border-radius: 3;
    -fx-padding: 4 18 10 18;
}
.bAutoGame:hover {
    -fx-background-color: #aa65cf;
}
.bAutoGame:pressed {
    -fx-background-color: #9933CC;
}
.try { 
    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-background-color: #0099CC;
    -fx-border-color: #0099CC; 
    -fx-border-width: 2; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-padding: 6 20 12 20;
}
.try:pressed {
    -fx-padding: 4 22 12 22;
}
.tile    { 
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 153, 204, 0.47619), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(0, 153, 204, 0.28571);
    -fx-border-width: 1;
}
.tile-2    { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #33b5e6; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-smooth: true;
}
.tile-4    { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #0099cb; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-8    { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #aa65cf; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-16   { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #9933CC; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    
}
.tile-32   { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #99CC00; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-64   { 
    -fx-font-size: 50px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #669900; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-128  { 
    -fx-font-size: 45px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FFBB33; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-256  { 
    -fx-font-size: 45px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff8800;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-512  { 
    -fx-font-size: 45px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #FF4444; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}
.tile-1024 { 
    -fx-font-size: 35px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #cc0000; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(255,68,68, 0.47619), 15, 0.5, 0, 0 );
    -fx-border-color: rgba(255,68,68, 0.28571);
    -fx-border-width: 1;
}
.tile-2048 { 
    -fx-font-size: 35px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #3c3a32; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 153, 204, 0.47619), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(0, 153, 204, 0.28571);
    -fx-border-width: 1;
}
.tile-4096, .tile-8192, .tile-16384 { 
    -fx-font-size: 30px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #3c3a32; 
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-effect: dropshadow( three-pass-box, rgba(0, 153, 204, 0.47619), 30, 0.5, 0, 0 );
    -fx-border-color: rgba(0, 153, 204, 0.28571);
    -fx-border-width: 1;
}
